.map-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 21rem;
	max-width: 21rem;
}

.map-row {
	display: flex;
	width: 100%;
	justify-content: center;
}
