.piece-area {
	width: 100%;
	max-width: 3rem;
}

.piece-area:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.piece-wall {
	background: black;
}

.piece-floor {
}

.piece-gold {
	background: #ffd700;
	border: white solid 0.25rem;
	border-radius: 3rem;
	box-sizing: border-box;
}

.piece-hero {
	border-radius: 3rem;
	background: #09b;
}

.piece-exit {
}
