.piece-area {
	width: 100%;
	max-width: 1rem;
}

.piece-area:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.piece-wall {
	background: black;
}

.piece-floor {
}

.piece-gold {
	background: #ffd700;
}

.piece-hero {
	border-radius: 1rem;
	background: #09b;
}

.piece-exit {
}
